RewriteEngine on

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_URI} !/index.php

RewriteRule . /index.php


AddDefaultCharset utf-8
IndexOptions Charset=UTF-8