<?php return array(
    'connectionString' => 'mysql:host=localhost;dbname=***',
    'emulatePrepare' => true,
    'username' => '***',
    'password' => '***',
    'charset' => 'utf8',
    'tablePrefix' => 'icsu_',
);
